.App {
  text-align: center;
  margin-top: 50px;
}

.pdf-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type='file'] {
  margin-bottom: 20px;
}

label {
  margin-left: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #4caf50;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

input[type='checkbox'] {
  margin-right: 5px;
}

.page-container {
  /* display: flex;
  align-items: center;
  background-color: #ff0000;
  height: 10% */
  display: flex;
  align-items: center;
  height: 10%;
  margin-bottom: 0; 
}
/* .react-pdf__Page__canvas {
  margin: 0 auto;
  width: 80% !important;
  height: 10% !important;
} */

.react-pdf__Page__annotations{
  height: 10px !important;
}
.checkbox-container {
  margin-right: 10px;
}

.tool-header{
  font-size: 2.6em;
  font-weight: 700;
  display: inline;
  line-height: 1.6;
}

img{
  border-radius: 15%;
  height: 50px;
}
